:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* elemento base*/
body {
    background: var(--preto);
    font-family: "Times New Roman", Times, Serif;
    color: white;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin-left: 5px;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}
header nav a {
    color: #AAA;
    margin-right: 10px;
}
header nav a:hover {
    color: #fff;
}

/* Filme principal*/
.filme-principal {
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/filmes/capa-house.jpg');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.descricao {
    margin-bottom: 40px;
}
.titulo {
    font-size: 40px;
}